<%- include('template/header'); -%>
<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/vista_maestros/"  class="navbar-brand">atras</a>
</nav>


<div class="container">
        <div class="row" style="margin-top:1em;">
                                <div class="col-md-11">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>N</th>
                                                    <th>Asignatura</th>
                                                    <th>Grado</th>
                                                    <th>Aula</th>
                                                    <th>Grupo</th>
                                                    <th>Turno</th>
                                                    <th>Asistencia</th>
                                                    <th>Unidad 1</th>
                                                    <th>Unidad 2</th>
                                                    <th>Unidad 3</th>
                                                    <th>Unidad 4</th>
                                                    <th>Unidad 5</th>

                                               </tr>
                                                    </thead>
                                                <tbody id="table"> 
                                      
                                                </tbody>
                                        </table> 
                                                    </div>
                                                    <button  class="btn btn-block btn-primary">Guardar</button>
        </div>
       
    </div>

<%- include('template/footer'); -%>
<script>
$(document).ready(()=>{

    $.ajax({
                url:'/data/',
                method:'get',
                success:(data)=>{
                    console.log(data);
                    var html = "";
                    data.map((e)=>{
                        html+="<tr><td>"+e.aula+"</td><td>"+e.asignatura+"</td><td>"+ e.grado+
                        "<td><td>"+e.grupo +"</td><td>"+e.turno+"</td><td>"+ e.datos[0]["asistencia"] +
                                "</td><td>"+e.datos[0]["unidad1"]  +"</td>"+
                                "</td><td>"+e.datos[0]["unidad2"] +"</td>"+
                                "</td><td>"+e.datos[0]["unidad3"]  +"</td>"+
                                "</td><td>"+e.datos[0]["unidad4"] +"</td>"+
                                "</td><td>"+e.datos[0]["unidad5"]  +"</td>"+

                            "</td></tr>"
                    });
                    $('#table').html(html);
//+"</td><td>"+e.data[0][unidad1]

                    return data;
                },
                error:(err)=>{
        
                },
                beforeSend:(data)=>{

                }
        });

})


 
</script>
