<%- include('template/header'); -%><!-- SideNav slide-out button -->

<nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/vista_alumnos/"  class="navbar-brand">atras</a>
    </nav>
<%- include('template/footer'); -%>
