<%- include('template/header'); -%>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand navbar-text">Atras</a>

    <span class="navbar-brand  mb-0 h1">Grados</span>
</nav>


<div class="container">
    <form id="form_grado" style="margin-top: 1em; margin-bottom: 1em;">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" name="nombre" class="form-control">
        </div>
        </form>
        <button type="button" onclick="registrar_grado()" class="btn btn-primary btn-block">Guardar</button>

</div>
<script>

    registrar_grado= () => {
            $.ajax({
            url:'/grado',
            method:'post',
            data:$('#form_grado').serialize(),
            success:(data)=>{
                    alert(data.message);
            },
            error:(err)=>{
    
            }
    });
    }
    
    </script>
<%- include('template/footer'); -%>
