<%- include('template/header'); -%><!-- SideNav slide-out button -->

<div class="sidebar">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
<%- include('template/footer'); -%>
