<%- include('template/header'); -%>

<nav class="navbar navbar-dark bg-dark justify-content-center ">
    <span class="navbar-brand  mb-0 h1"><h2>Escuela Secundaria Tecnica</h1></span>
</nav>
<div class="container" style="margin-left: 0px; margin-top: 1em;">
<div class="row">
    <div class="col-md-3">
            <div class="list-group">
                <a href="profesor_administrador" class="list-group-item list-group-item-action">Maestro/Administrador</a>
                <a href="/alumnos/" class="list-group-item list-group-item-action">Alumnos</a>
                <a href="/aula/" class="list-group-item list-group-item-action">Aulas</a>
                <a href="/asignatura/" class="list-group-item list-group-item-action">Asignaturas</a>
                <a href="/grado/" class="list-group-item list-group-item-action">Grados</a>
                <a href="/grupo/" class="list-group-item list-group-item-action">Grupos</a>
                <a href="/trimestre/" class="list-group-item list-group-item-action">Trimestre</a>
                <a href="/clases/" class="list-group-item list-group-item-action">Clases</a>
                <a href="/calificaciones/" class="list-group-item list-group-item-action">Calificaciones</a>

            </div>
    </div>
    <div class="col-md-9">

    </div>
</div>
</div>
</div>
<script>
</script>
<%- include('template/footer'); -%>
