<%- include('template/header'); -%>
<div class="container">
    <h1 class="text-center" style="margin-top:2em;">Iniciar Sesion</h1>
    <div class="row" style="margin-top:8em">
            <div class="col-md-6" style="margin-left:18em;">
                    <div class="card">
                        <div class="card-body">
                            <form id="form_login">
                                <div class="form-group">
                                    <label>Matricula</label>
                                    <input type="text" name="matricula"  class="form-control">
                                </div>
                                <div class="form-group">
                                        <label>contraseña</label>
                                        <input type="password" name="contraseña" class="form-control">
                                    </div>
                                <div class="form-group">
                                </div>
                                <button type="button" class="btn btn-primary btn-block" onclick="iniciologin()">Iniciar Sesion</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
</div>
<script>
        iniciologin= () => {
                $.ajax({
                url:'/iniciarsesion',
                method:'post',
                data:$('#form_login').serialize(),
                success:(data)=>{
                 if(data.message==null){
                   alert("usuario no registrado")
                 }else{
                  if(data.message.tipopersona=="maestro"){
                    alert("maestro");
                    window.location.href="/vista_maestros/";
                  } else if(data.message.tipopersona=="alumno"){
                    alert("alumno");
                    window.location.href="/vista_alumnos/";
                  }else if(data.message.tipopersona=="administrador"){
                      alert("administrador");
                      window.location.href="/vista_administrador/";
                  }
                }
                },
                error:(err)=>{
        
                },
                beforeSend:(data)=>{

                }
        });
        }
        
        </script>
<%- include('template/footer'); -%>
