<%- include('template/header'); -%>
<nav class="navbar navbar-dark bg-dark " style="  position: sticky;">
        <a href="/" class="navbar-brand">Cerrar Sesion</a>
        <span class="navbar-brand  mb-0 h1"><h2>Escuela Secundaria Tecnica</h1></span>
    </nav>      
   
    <div class="container" style="margin-left: 0px;"> 
        <div class="row" style="margin-top: 1em;">
<div class="col-md-3">
        <div class="list-group ">
                <a href="/profesor_administrador/" class="list-group-item list-group-item-action">Agregar  maestro/administrador</a>
                <a href="/alumnos/" class="list-group-item list-group-item-action">Agregar alumno</a>
                <a href="/aula/" class="list-group-item list-group-item-action">Agregar Aulas</a>
                <a href="/asignatura/" class="list-group-item list-group-item-action">Agregar Asignaturas</a>
                <a href="/grado/" class="list-group-item list-group-item-action">Agregar Grados</a>
                <a href="/grupo/" class="list-group-item list-group-item-action">Agregar Grupos</a>
                <a href="/trimestre/" class="list-group-item list-group-item-action">Agregar Trimestre</a>
                <a href="/clases/" class="list-group-item list-group-item-action">Agregar Clases</a>

                  </div>
</div>
        </div>
            
    </div>
<%- include('template/footer'); -%>
